.itemContainer {
  /* background-color: aqua; */
  /* border: 1px solid #a18585; */
  width: 85%;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
}

.itemContainer:first-child {
  margin-top: -5px;
}

.itemContainer::-webkit-scrollbar {
  width: 12px;
}

.itemContainer::-webkit-scrollbar-track {
  background: rgb(
    205,
    180,
    180,
    0.2
  ); /* Set the background color of the scrollbar track */
  border-radius: 10px;
}

.itemContainer::-webkit-scrollbar-thumb {
  background: #6b4949; /* Set the background color of the scrollbar thumb *
  border-radius: 6px; /* Optional: Add border-radius to the scrollbar thumb */
}

.itemContainer::-webkit-scrollbar-thumb:hover {
  background: #c6aeae; /* Set the background color of the scrollbar thumb when hovered */
}

.itemInvCard {
  width: 145px;
  aspect-ratio: 1/1;
  border: 1px solid #a18585;
  border-radius: 10px;
  margin: 1%;

  img {
    width: 150px;
    padding: -10px;
    margin: auto;
  }
}

.itemInvCard:last-child {
  margin-right: auto; /* Push all items to the right */
}

.itemInvCard:hover {
  background-color: #c6aeae;
  cursor: pointer;
}
