@mixin mobile{
    @media screen and (max-width: 768px){
        @content;
    }
}

@font-face {
    font-family: 'pixelFont'; /* Name you'll use in CSS */
    src: url(./components/fonts/PixelifySans-VariableFont_wght.ttf); /* Path to the font file */
}


$dark_brown: #624f4f;
$brown: #A18585;
$beige: #F5EBE0;
$coffee: #AD8B73;
$light_coffee: #E3CAA5;
$cream: #FFFBE9;

body {
    margin: 0;
}

.form_container{
    background-color: $beige;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .form_wrapper{
        background-color: white;
        padding: 45px 40px;
        border-radius: 10%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        
        .login_avatar{
            width: 50px;
            padding-bottom: 10px;
        }

        .logo{
            font-family: 'Courier New', Courier, monospace;
            color: $brown;
            font-weight: bold;
            font-size: 24px;
        }
    
        .title{
            font-size: 12px;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 5px;
                border: none;
                border-bottom: 1px solid black;
            }

            button {
                border-radius: 10px;
                border: 1px solid black;
                padding: 5px;
                cursor: pointer;
            }
        }

        p {
            margin-top: 10px;
            font-size: 12px;
        }
    }

}

.homepage{
    background-color: $beige;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border: 1px solid $brown;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;
        @include mobile{
            width: 90%;
        }

        .sidebar{
            flex: 1;
            background-color: $brown;
            position: relative;

            .navbar{
                display: flex;
                align-items: center;
                background-color: $dark_brown;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: white;
                font-family: 'Courier New', Courier, monospace;

                .logo{
                    font-weight: normal;
                    font-size: large;
                    @include mobile{
                        display: none;
                    }
                    font-family: 'pixelFont', 'Courier New', Courier, monospace;
                }

                .user{
                    display: flex;
                    gap: 10px;
                    
                    span{
                        padding-top: 2.5px;
                    }

                    img{
                        background-color: white;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                        cursor: pointer;
                    }

                    button{
                        background-color: $beige;
                        color: $dark_brown;
                        font-size: 10px;
                        padding: 5px;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        @include mobile{
                            position: absolute;
                            bottom: 10px;
                        }
                    }
                }
            }
            
            .search{
                border-bottom: 1px solid gray;

                .searchForm{
                    padding: 10px;

                    input{
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;
                        &::placeholder{
                            color: lightgrey;
                        }
                        font-family: 'Courier New', Courier, monospace;
                    }
                }
            }

            .userChat{
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: white;
                cursor: pointer;
                border-bottom: 1px solid white;

                &:hover{
                    background-color: $dark_brown;
                }

                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .userChatInfo{
                    span{
                        font-size: 18px;
                        font-family: 'pixelFont';
                    }
                    p{
                        font-size: 14px;
                        color: lightgray;
                        font-family: 'Courier New', Courier, monospace;
                    }
                }
            }

        }

        .chat{
            flex: 2;

            .chatInfo{
                height: 50px;
                background-color: $coffee;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: white;
                font-family: 'Courier New', Courier, monospace;
            }

            .chatIcons{
                display: flex;
                gap: 10px;

                img {
                    height: 24px;
                    cursor: pointer;
                }
                
            }

            .messages{
                background-color: $cream;
                padding: 10px;
                height: calc(100% - 160px);
                overflow: scroll;
                overflow-x: hidden;

                .message{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .messageInfo{
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: 300;

                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                    .messageContent{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p{
                            background-color: white;
                            padding: 10px 20px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                            font-family: 'Courier New', Courier, monospace;
                        }
                        img{
                            width: 50%;
                        }
                    }

                    &.owner{
                        flex-direction: row-reverse;

                        .messageContent{
                            align-items: flex-end;
                            p{
                                background-color: $coffee;
                                color: white;
                                border-radius: 10px 0px 10px 10px;
                            }

                        }
                    }
                }
            }

            .input{
                height: 50px;
                background-color: $light_coffee;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                img{
                    height: 20px;
                }

                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    font-size: 20px;
                    background-color: $light_coffee;
                    font-family: 'Courier New', Courier, monospace;
                }

                .send{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding-left: 10px;

                    img{
                        height: 25px;
                        padding-top: 5px;
                        cursor: pointer;
                    }

                    button{
                        border: none;
                        padding: 10px 15px;
                        color: white;
                        background-color: $coffee;
                        cursor: pointer;
                        border-radius: 5px;
                        padding: 5px;
                        font-family: 'pixelFont';
                    }
                }
            }
        }
    }
}

.profile{
    background-color: #faebd7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'pixelFont';

    h1{
        color:black;
        text-align:center;
    }

    p{
        padding:0;
        margin:0;
    }

    .container{
        background-color: #faebd7;
        border: 1px solid #a18585;
        height:80%;
        width:35%;
        border-radius: 30px;
        position: relative;
        right: 80px;
        align-items: center;
        display: flex;
        flex-direction: column;

        .bar{
            display: flex;
            align-items: center;
        }

        .button2:hover,
        .button:hover {
        background-color: #c6aeae;
        cursor: pointer;
        }

        .button {
            background-color: #a18585;
            padding:10px;
            border-radius:30px;
            position:absolute;
            left:20px;
    
            a {
                text-decoration: none;
                color: black;
            }
        }

        .button2 {
            background-color: #a18585;
            padding:10px;
            border-radius:30px;
            position:absolute;
            right:20px;
    
            img{
                height: 25px;
                width: 30px;
                object-fit: cover;
                cursor: pointer;
            }
        }
        
        .circle{
            background-color: #a18585;
            height:300px;
            width:300px;
            border-radius:50px;
            position: relative;

            img{
                height:80%;
                width:80%;
                position:absolute;
                top:10px;
                left:30px;
            }
        }
    }
    .container2{
        background-color: #faebd7;
        border: 1px solid #a18585;
        height:80%;
        width:45%;
        border-radius: 30px;
        position: relative;
        left: 100px;
        align-items: center;
        display: flex;
        flex-direction: column;

        .button:hover {
            background-color: #c6aeae;
            cursor: pointer;
        }

        .button {
            background-color: #a18585;
            padding:10px;
            border-radius:30px;
            position:absolute;
            top:25px;
            left:20px;
        }

        table{
            border-collapse: collapse;
            width: 90%;
        }

        th,td{
            border:1px solid black;
        }

        th{
            background-color: #a18585;
            text-align:center;
            font-weight:1;
            padding:8px;
        }

        td{
            background-color: #e1d3c1;
            height:100px;
            width:100px;
            button{
                background: none;
                border: none;
                height:100%;
                width:100%;
            }

            img{
                height:100px;
                width:100px;
                position:center;
            }
        }


    }
}